Задание 7.


    SELECT
        m.id,
        m.name,
        m.rating,
        m.year
    FROM sqlprotest.movies  m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres  g ON mg.genre_id = g.id
    EXCEPT
    SELECT
        m.id,
        m.name,
        m.rating,
        m.year
    FROM sqlprotest.movies  m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres g ON mg.genre_id = g.id
    WHERE g.name = 'Криминал'
    ORDER BY 2 ASC

    
    SELECT
        m.*
    FROM sqlprotest.movies  m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres  g ON mg.genre_id = g.id
    EXCEPT
    SELECT
        m.*
    FROM sqlprotest.movies  m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres g ON mg.genre_id = g.id
    WHERE g.name = 'Криминал'
    ORDER BY 2 ASC

Задание 8.

    SELECT DISTINCT
        m.*
    FROM sqlprotest.movies  m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres g ON mg.genre_id = g.id
    WHERE m.rating IS NOT NULL
    ORDER BY m.year
    LIMIT 3

Задание 10

Напишите запрос, с помощью которого можно вычислить средний рейтинг фильмов в каждом жанре.
Выведите два столбца: genre_name (название жанра) и average_rating (средний рейтинг).

Результат отсортируйте по второму полю по убыванию.

    SELECT
        g.name genre_name, 
        AVG(m.rating) average_rating
    FROM sqlprotest.movies m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres  g ON mg.genre_id = g.id
    GROUP BY 1
    ORDER BY 2 DESC

Задание 11

Напишите запрос, чтобы вывести все названия фильмов и их рейтинги.
Если рейтинга нет, отобразите 0 для такого фильма. Отсортировать по названию фильма по возрастанию.

    SELECT
        m.name,
        m.rating
    FROM sqlprotest.movies m
    WHERE m.rating IS NOT NULL    

    UNION ALL

    SELECT
        m.name,
        0
    FROM sqlprotest.movies m
    WHERE m.rating IS NULL
    ORDER BY 1 ASC

Задание 4

Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильмов.
Столбцы к выводу ― genre_name (имя жанра) и movies_count (количество фильмов).

Результат отсортируйте по второму полю по убыванию.

    SELECT
        g.name genre_name, 
        COUNT(m.ID) movies_count
    FROM sqlprotest.movies m
        JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
        JOIN sqlprotest.genres  g ON mg.genre_id = g.id
    GROUP BY 1    
    HAVING COUNT(m.ID) >= 3
    ORDER BY 2 DESC